<!DOCTYPE html>
<style href=""></style>
<html>
<head>
<title></title>
<link rel="stylesheet" href="/css/general.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/form.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/loginRegister.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div class="publicPage">
    <div class="formContainer">
      <form method="POST" action="/customerLogin">
      <div class="pageName">CUSTOMER LOGIN</div>
        <input type="text" name="email" placeholder="email" required />
        <input type="password" name="password" placeholder="password" required />
        <input type="submit" value="Login"/>
        {{#if error}}<p>{{error}}</p>{{/if}}
      </form>
    </div>
    <div class="formAnchor">
      <p>Don't Have a Customer Account? <a href="/customerRegister">Register</a></p>
      <p>Don't Have a Staff Account? <a href="/staffRegister">Register</a></p>
      <p>Want to Login as Staff? <a href="/staffLogin">Login</a></p>
      <p>Want to check flight info? <a href="/publicInfo">Check Flights</a></p>
    </div>
  </div>
</body>
</html>