<div class="topBar">
  <a href="/logout">Logout</a>
  <h1>Hello</h1>
</div>
<div class="Data">
  
</div>
<h1>Welcome {{user.username}}</h1>







{{!-- <form method="POST" action="/post">
  <input type="text" name="blog" placeholder="post" required />
  <input type="submit" value="Post" />
</form> --}}

{{!-- <table border="1">
  <tr><th>Time</th><th>Post</th></tr>
  {{#each posts}}
    <tr>
      <td>{{this.ts}}</td>
      <td>{{this.blog_post}}</td>
    </tr>
  {{/each}}
</table> --}}
