

<!DOCTYPE html>
<style href=""></style>
<html>
<head>
<title></title>
<link rel="stylesheet" href="/general.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>


  <div class="topBar">
    <a href="/logout">Logout</a>
    <h1>Navigate</h1>
  </div>
  <div class="sideBar hidden">
    <a>hi</a>
    <a>yo</a>
  </div>

  <div class="Data">
    
  </div>
  <h1>Welcome {{user.username}}</h1>

<script src="/js/topBar.js" defer></script>

<body>
<html>







{{!-- <form method="POST" action="/post">
  <input type="text" name="blog" placeholder="post" required />
  <input type="submit" value="Post" />
</form> --}}

{{!-- <table border="1">
  <tr><th>Time</th><th>Post</th></tr>
  {{#each posts}}
    <tr>
      <td>{{this.ts}}</td>
      <td>{{this.blog_post}}</td>
    </tr>
  {{/each}}
</table> --}}
