*{
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000d57;
    color: #ffffff;
    height: 100vh;
  }

.pageContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* height: 100%; */
}
  
  .topBar {
    height: 100px;
    background-color: #2f3366; /* deep bluish purple */
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .topBar div {
    font-weight: bold;
    font-size: 30px;
  }
  
  .topBar h1 {
    position: absolute;
    right: 10px;
    text-decoration: none;
    background-color: #6a5acd;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #6a5acd;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .topBar h1:hover {
    background-color: #5542a7;
    cursor: pointer;
    color: #ffffff;
  }
  
  .topBar a {
    position: absolute;
    left:10px;
    text-decoration: none;
    background-color: #6a5acd;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #6a5acd;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .topBar a:hover {
    background-color: #5542a7;
    color: #ffffff;
  }

  .sideBar {
    position: fixed;
    top: 100px;
    right: 0px;
    width: 150px;
    background-color: #2f00ff; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 900;
  }

  .sideBar a{
    font-size: 1px;
    width: 100%;
    text-decoration: none;
    background-color: #6a5acd;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .sideBar a:hover {
    background-color: #5542a7;
    color: #ffffff;
  }
  

  .hidden{
    display: none;
  }