.popUp {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popUp .popUpForm{
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .popUp .popUpFormButtons {
    display: flex;
    justify-content: space-between;
  }


  .completionMessage {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    z-index: 1000;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }

  .hidden{
    display: none;
  }

.popUp .popUpForm td{
  color: black;
}