*{
    box-sizing: border-box;
}

.clickable:hover{
  cursor:pointer;
}

.inputs{
    display:flex;
    flex-direction: row;
    height: 30px;
}

.noTable{
    margin: 10px;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }

  td{
    color: white;
  }
  
  th {
    color: black;
    background-color: #f2f2f2;
    text-align: left;
  }

  tr{
    cursor: default;
  }

  .cancelled{
    cursor: default;
    background-color:#3547aa;
  }

  .formAnchor a {
    color: rgb(0, 208, 255);
    text-decoration: underline;
    font-weight: bold;
  }

  .formAnchor {
    margin-top: 5px;
    text-align: center;
    font-size: 0.95rem;
    color:#ffffff
  }

.changeable{
  transition: background-color 0.3s;
}

.changeable:hover{
cursor:pointer;
background-color: #0000ff;
}