*{
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000d57;
    color: #ffffff;
  }
  
  .topBar {
    height: 100px;
    background-color: #2f3366; /* deep bluish purple */
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .topBar h1 {
    right: 10px;
    font-size: 1.5rem;
    color: #ffffff;
    transition: color 0.3s;
  }

  .topBar h1:hover{
    font-size: 1.5rem;
    color: #aaaaaa;
    cursor: pointer;
  }
  
  .topBar a {
    text-decoration: none;
    background-color: #6a5acd;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #6a5acd;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .topBar a:hover {
    background-color: #5542a7;
    color: #ffffff;
  }

  .sideBar {
    padding: 10px;
    position: fixed;
    top: 100px;
    right: 0px;
    width: 150px;
    background-color: #2f00ff; 
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 900;
  }
  

  .hidden{
    display: none;
  }