*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000d57;
    color: #333;
    height: 100%;
    display:flex;
    padding: 2rem 1rem;
    height: 100vh;
    align-items: center;
    flex-direction: column;
  }

.clickable:hover{
  cursor:pointer;
}

.inputs{
    display:flex;
    flex-direction: row;
    height: 30px;
}

.noTable{
    margin: 10px;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }

  td{
    color: white;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  .loginRegisterAnchor a {
    color: rgb(0, 208, 255);
    text-decoration: underline;
    font-weight: bold;
  }

  .loginRegisterAnchor {
    margin-top: 5px;
    text-align: center;
    font-size: 0.95rem;
    color:#ffffff
  }