

<!DOCTYPE html>
<style href=""></style>
<html>
<head>
<title></title>
<link rel="stylesheet" href="/css/general.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/search.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/popUp.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>

  <div class="topBar">
    <a href="/logout">Logout</a>
    <div> View Ratings</div>
    <h1>Navigate</h1>
  </div>

  <div class="sideBar hidden">
    <a href="/staffHome">Home</a>
    <a href="/viewFlights">View Flights</a>
    <a href="/addFlights">Add Flights</a>
    <a href="/changeStatus">Change Flight Status</a>
    <a href="/addAirplanes">Add Airplane</a>
    <a href="/addAirports">Add Airport</a>
    <a href="/viewRatings">View Ratings</a>
    <a href="/viewReports">View Reports</a> 
  </div>

  <div class="pageContainer">

    <div class="popUp hidden" method="POST" action="/rating">
      <form class="popUpForm">
        <h2>Flight Rating Details</h2>
        <div class="popUpContainer"></div>
        <div class="popUpFormButtons">
          <button type="button" class="cancel">Cancel</button>
        </div>
      </form>
    </div>

    <div class="resultsContainer"></div>

  </div>

<script src="/js/topBar.js" defer></script>
<script src="/js/staffjs/viewRatings.js" defer></script>

</body>
</html>