

<!DOCTYPE html>
<style href=""></style>
<html>
<head>
<title></title>
<link rel="stylesheet" href="/css/general.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/search.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/popUp.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>

  <div class="topBar">
    <a href="/logout">Logout</a>
    <div> View Reports</div>
    <h1>Navigate</h1>
  </div>

  <div class="sideBar hidden">
    <a href="/staffHome">Home</a>
    <a href="/viewFlights">View Flights</a>
    <a href="/addFlights">Add Flights</a>
    <a href="/changeStatus">Change Flight Status</a>
    <a href="/addAirplanes">Add Airplane</a>
    <a href="/addAirports">Add Airport</a>
    <a href="/viewRatings">View Ratings</a>
    <a href="/viewReports">View Reports</a> 
  </div>

  <div class="pageContainer">
    <form method="POST" action="/viewReports" class="inputs">
        <label>
          Start Date:
          <input type="date" name="startDate" class="clickable"/>
        </label>
        <label>
          End Date:
          <input type="date" name="endDate" class="clickable"/>
        </label>
      <input type="submit" class="searchButton clickable" value="Search"></input>
    </form>
    
    <div class="resultsContainer"></div>

  </div>

<script src="/js/topBar.js" defer></script>
<script src="/js/staffjs/viewReports.js" defer></script>

</body>
</html>